# --- Flask and CORS ---
Flask==3.0.3
Flask-Cors==4.0.0
Flask-SocketIO==5.3.6

# --- Data & ML ---
numpy>=1.26.0
scipy>=1.11.0
pandas==2.0.3
scikit-learn==1.5.2

# --- NLP & Text Processing ---
textblob==0.17.1
nltk==3.8.1

# --- Network ---
requests==2.31.0
